// ----------------------------------------------------------------------------
// Single Content
// ----------------------------------------------------------------------------

.single {
  background-color: $off-white;
}

.single .header {
  background-color: $off-black;
}

.single-content {
  color: $off-black;

  .size-full,
  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $off-black;

    @include bp(medium) {
      @include span(8);
      @include push(2);
    }
  }

  a {
    color: $off-black;
    @include text-underline($off-black, $off-white, $off-black);
  }

  p {
    @include typesize(0);
  }
}

.single-content .size-large {
  margin-top: spacing(1);
  margin-bottom: spacing(1);

  @include bp(medium) {
    @include span(10);
    @include push(1);
  }

}
